<div class="add-form">
  <h2><a href="/">Back</a></h2>
  <div class="inventory">
    <h1><%=title%></h1>
    <%- include("./partials/errors") %>
    <form action="/category/add" method="post">
      <label for="cname">
        Category name:
        <input type="text" name="cname" id="cname" required
      /></label>
      <fieldset>
        <label for="adminPassword">Enter admin password to confirm:</label>
        <input type="password" name="adminPassword" required />
      </fieldset>
      <button type="submit">Add</button>
    </form>
  </div>
</div>
