<div class="delete-item">
  <h2><a href="/">Back</a></h2>
  <h1><%=title%></h1>
  <form action="/item/delete/<%=item.id%>" method="post">
    <div>Are you sure you want to delete "<%=item.name%>"? <br />This action is irreversible.</div>
    <fieldset>
      <button id="delete" type="submit">Delete</button>
      <a href="/">Go back</a>
    </fieldset>
  </form>
</div>
