<div class="sidebar">
  <div class="github">
    <a href="https://github.com/luciavu/inventory-application" target="_blank"
      ><i class="fab fa-github"></i
    ></a>
  </div>
  <div class="nav">
    <p>CATEGORY</p>
    <a href="/">All</a>
    <% categories.forEach((category) => {%>
    <a href="/<%=category.id%>"><%=category.name%></a>
    <%})%>
  </div>
</div>
